extends layout.pug

block head
  link(rel="stylesheet" href="/stylesAuth.css")
    

block content
  .login-container
    h1 Fotaza
    p Una plataforma para compartir tus mejores fotos con amigos.
    form(action="/register" method="post")
      p.section-title Crea tu cuenta
      .form-group
        label(for="name") Nombre completo
        input(type="text" id="name" name="name" placeholder="Tu nombre" required)
      .form-group
        label(for="registerEmail") Correo electrónico
        input(type="email" id="registerEmail" name="email" placeholder="tucorreo@ejemplo.com" required)
      .form-group
        label(for="registerPassword") Contraseña
        input(type="password" id="registerPassword" name="password" placeholder="Contraseña" required)
      button.btn-login(type="submit") Registrarse
    p.error-message#formError
      | Ocurrió un error. Intenta nuevamente.
